<div class="container">
  <h1>List of restaurants</h1>

  <ul>
    <% @restaurants.each do |r| %>
    <li>
      <%= link_to(r.name, restaurant_path(id: r.id)) %> -
      <%= r.address %> -
      <%= r.phone_number %> -
      <%= r.category %>
    </li>
    <% end %>
  </ul>

  <%= link_to 'Add new restaurant', new_restaurant_path %>
</div>
